
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Crimson Text', serif;
    border:none;
    color:gold;
}

body {
    background-image: url(/images/background.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-size: 80px;
    font-weight: bolder;
    width: 70vh;
    padding: 5px;
    margin: 50px;
    text-align: center;
    border: gold solid 5px;
    border-radius:1cm;
}

#title:hover, .main-intro:hover {
    color:rgb(201, 32, 32);
}
#title:hover {
    border: rgb(201, 32, 32) 10px double;
}
#position-title {
    width: 60px;
    height: 60px;
    margin-left: 30%;
}

#second-title {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 40px;
}

#game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#instr-box{
    width: 400px;
    font-size: 25px;
    justify-content: center;
}

#instr-box ul {
    list-style: none;
    line-height: 80px;
}

#arrow-img{
    width: 100px;
    height: 100px;
}

.box {
    border: 5px white solid;
    text-align: center;
}

.box p {
    color: aliceblue;
}

#canvas{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#canvas-box {
    display: flex;
    justify-content: center;
}

#start-btn {
    border: black solid 5px;
    background-color: rgb(201, 32, 32);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

#start-btn:hover {
    background-color: blue;
    color: white;
  }

#btn-container {
    display: flex;
    justify-content: center;
}

