
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Crimson Text', serif;
    border:none;
    color:gold;
}

body {
    background-image: url(./images/background.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-size: 50px;
    font-weight: bolder;
    width: 70vh;
    padding: 5px;
    margin: 50px;
    text-align: center;
    border: gold solid 5px;
    border-radius:1cm;
}

#title:hover, .main-intro:hover {
    color:rgb(201, 32, 32);
}
#title:hover {
    border: rgb(201, 32, 32) 10px double;
}
#position-title {
    width: 60px;
    height: 60px;
    margin-left: 30%;
}

#second-title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 15px;
}

#game-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

#arrow-img{
    width: 50px;
    height: 30px;
}

.box {
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

.box h2 {
    color:aliceblue;
    border: 5px blue solid;
    padding: 5px;
}

.box ul {
    list-style: none;
    line-height: 40px;
    text-align: justify;
}

.box p {
    color:aliceblue;
    font-size: 20px;
}

.box span {
    color:aliceblue;
    font-size: 40px;
}

#canvas{
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}

#canvas-box {
    display: flex;
    justify-content: center;
}

#start-btn {
    border: black solid 5px;
    background-color: rgb(201, 32, 32);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

#start-btn:hover {
    background-color: blue;
    color: white;
  }

#btn-container {
    display: flex;
    justify-content: center;
}

